language: csharp
mono: none
dotnet: 3.1
dist: xenial
before_script:
- export PATH=$PATH:/home/travis/.dotnet/tools
script:
- find .
- ls -la
- dotnet tool install --global dotnet-sonarscanner
- reset
- export PATH=$PATH:/home/travis/.dotnet/tools
- dotnet restore
- dotnet-sonarscanner -h
- dotnet sonarscanner -h
- dotnet sonarscanner begin -h
- dotnet sonarscanner begin -X -h
- dotnet build
- dotnet sonarscanner end -X
addons:
  sonarcloud:
    organization: githubismicrosoft
    token:
      secure: ePdprbBQOBwdgmeen1bQPqxcFcwJNE/sdS5yxnPNgj+FNV3xJYV8SWjubH1Vnkkc3perzMRoiwwCIK6F9TbQ+1IvupnsTwWV4J7+llmkAO16OGNgy0mK0QDdHqa5jPPybHu9WbooH3FaQknR/agCaOhtUmyixaSs5KX0KQ1iKJk/1yeLmoBACiTXB9L0gEE4HnhRBzbg4apfJLFFERb5XcNW1gfv61d8qT1r2EZfS/bUpmUAYQ6mnuQPBlW3YD4prpQ+xC/EndBCHZtheq/x9zJiX/MmLDJWSL2Gfc6VrcE2ohIwz/JhYWYwWCn1QS4wVyf5WoUMJNWGZ1Rkev/f7OitCb6bzYfc6iphxy6H1KeD47tmI30AUMY34KokcyctoPeZHkDMADhjFnnVOjWtToBVEmN+Zn7xeIZsJA6de5nWf/TKpqGQxV738Gut3co3VTzHJt/Vqh8EiiFSSBRKMkIzVHnbn/upWn+b73alaVp8o7L7WvRgZvRHVAdbdzxzzZhzgDd7xOBurV4Z4cglwbikAuIU8H4LWOXXRfPS1WADLOvL2OGu8TnDUwEgeQqLL/KCjTE5A0sKXyk726HkvWixhahpwEjTVtEU+hKvMzv2KtLV6fNNTFa4ORZw4TJ6pAG4WaJhem5vCmvZfLh0aAXmGzC3UE2U6VsEuZv7w2k=
env:
  global:
  - secure: ePdprbBQOBwdgmeen1bQPqxcFcwJNE/sdS5yxnPNgj+FNV3xJYV8SWjubH1Vnkkc3perzMRoiwwCIK6F9TbQ+1IvupnsTwWV4J7+llmkAO16OGNgy0mK0QDdHqa5jPPybHu9WbooH3FaQknR/agCaOhtUmyixaSs5KX0KQ1iKJk/1yeLmoBACiTXB9L0gEE4HnhRBzbg4apfJLFFERb5XcNW1gfv61d8qT1r2EZfS/bUpmUAYQ6mnuQPBlW3YD4prpQ+xC/EndBCHZtheq/x9zJiX/MmLDJWSL2Gfc6VrcE2ohIwz/JhYWYwWCn1QS4wVyf5WoUMJNWGZ1Rkev/f7OitCb6bzYfc6iphxy6H1KeD47tmI30AUMY34KokcyctoPeZHkDMADhjFnnVOjWtToBVEmN+Zn7xeIZsJA6de5nWf/TKpqGQxV738Gut3co3VTzHJt/Vqh8EiiFSSBRKMkIzVHnbn/upWn+b73alaVp8o7L7WvRgZvRHVAdbdzxzzZhzgDd7xOBurV4Z4cglwbikAuIU8H4LWOXXRfPS1WADLOvL2OGu8TnDUwEgeQqLL/KCjTE5A0sKXyk726HkvWixhahpwEjTVtEU+hKvMzv2KtLV6fNNTFa4ORZw4TJ6pAG4WaJhem5vCmvZfLh0aAXmGzC3UE2U6VsEuZv7w2k=
  - secure: XzvObgujnCd3K4JXeeuwz/yjIhl3P20E+szomtYXlke5FS/VIB8KUKf3lIDYgKthSujVGO8N6QWHU6fmeSZv9sO8ngcuZNodjKNDNTk8ma3zRhvN/3bJYBcxHPP+oyavHGxodrZpf5dVWQR+uTemu2GT4FPTCDB5DfJ76sMSKVEV7FyF10/DWo1Z5ql8hnQRVJWo4BT8ZW6QaQZ7RwU/3QjjjxlWv14p62L1+JuqAtNmfGBEXcJkPu0+bZ0nirftl/MCb8TaZXBhl8gf1FX1L3wlDaMXISHawHoUrdKvHpe/71AZko0bvBeJFztCyYvxl2+YddIlz6PytkScyRonJN6Ai0WGW27O8dpuYXhd2p2MMRfAC3jcGzsM++GHzmZhgjymK80pRSuWC8OULqWKBeOaOtqdiIyhz6Y49wnjltJa9ZMHS6s0k91MBUOf7gdRAcG7Yac8MWGQ+wS58cTINIgMyItLTyCyqpL99OrfPmwEhSPVf2bfrsi65DAxDpwbyU+Ms7j6lEHDNMwdgFqLRelasFZOGVjD7eBncLMQQ61kdh+UUWKnjtVp1tD5OJycur0IGorHui2EIeFexSbjaCFcOAFsjMGQRSkF8Lvif/40FXNvnucOJIxJlIjxWRjF0qWXxY2d2b5jyLhMJDSkLaQR0V6kkxf195xc+NCv+qM=
