language: csharp
mono: none
dotnet: 3.1

dist: xenial

script:
#  - wget -O sonar.zip https://github.com/SonarSource/sonar-scanner-msbuild/releases/download/4.6.1.2049/sonar-scanner-msbuild-4.6.1.2049-netcoreapp2.0.zip
#  - unzip -qq sonar.zip -d tools/sonar
#  - find .
#  - ls -l tools/sonar
#  - chmod +x tools/sonar/*/bin/sonar-scanner
 - dotnet tool install --global dotnet-sonarscanner
 - dotnet restore
 - dotnet sonar-scanner begin -X
#  - dotnet tools/sonar/sonar-scanner begin -X
 - dotnet build
 - dotnet sonar-scanner end -X


addons:
  sonarcloud:
    organization: "githubismicrosoft"
    token:
      secure: ePdprbBQOBwdgmeen1bQPqxcFcwJNE/sdS5yxnPNgj+FNV3xJYV8SWjubH1Vnkkc3perzMRoiwwCIK6F9TbQ+1IvupnsTwWV4J7+llmkAO16OGNgy0mK0QDdHqa5jPPybHu9WbooH3FaQknR/agCaOhtUmyixaSs5KX0KQ1iKJk/1yeLmoBACiTXB9L0gEE4HnhRBzbg4apfJLFFERb5XcNW1gfv61d8qT1r2EZfS/bUpmUAYQ6mnuQPBlW3YD4prpQ+xC/EndBCHZtheq/x9zJiX/MmLDJWSL2Gfc6VrcE2ohIwz/JhYWYwWCn1QS4wVyf5WoUMJNWGZ1Rkev/f7OitCb6bzYfc6iphxy6H1KeD47tmI30AUMY34KokcyctoPeZHkDMADhjFnnVOjWtToBVEmN+Zn7xeIZsJA6de5nWf/TKpqGQxV738Gut3co3VTzHJt/Vqh8EiiFSSBRKMkIzVHnbn/upWn+b73alaVp8o7L7WvRgZvRHVAdbdzxzzZhzgDd7xOBurV4Z4cglwbikAuIU8H4LWOXXRfPS1WADLOvL2OGu8TnDUwEgeQqLL/KCjTE5A0sKXyk726HkvWixhahpwEjTVtEU+hKvMzv2KtLV6fNNTFa4ORZw4TJ6pAG4WaJhem5vCmvZfLh0aAXmGzC3UE2U6VsEuZv7w2k=




env:
  global:
    secure: ePdprbBQOBwdgmeen1bQPqxcFcwJNE/sdS5yxnPNgj+FNV3xJYV8SWjubH1Vnkkc3perzMRoiwwCIK6F9TbQ+1IvupnsTwWV4J7+llmkAO16OGNgy0mK0QDdHqa5jPPybHu9WbooH3FaQknR/agCaOhtUmyixaSs5KX0KQ1iKJk/1yeLmoBACiTXB9L0gEE4HnhRBzbg4apfJLFFERb5XcNW1gfv61d8qT1r2EZfS/bUpmUAYQ6mnuQPBlW3YD4prpQ+xC/EndBCHZtheq/x9zJiX/MmLDJWSL2Gfc6VrcE2ohIwz/JhYWYwWCn1QS4wVyf5WoUMJNWGZ1Rkev/f7OitCb6bzYfc6iphxy6H1KeD47tmI30AUMY34KokcyctoPeZHkDMADhjFnnVOjWtToBVEmN+Zn7xeIZsJA6de5nWf/TKpqGQxV738Gut3co3VTzHJt/Vqh8EiiFSSBRKMkIzVHnbn/upWn+b73alaVp8o7L7WvRgZvRHVAdbdzxzzZhzgDd7xOBurV4Z4cglwbikAuIU8H4LWOXXRfPS1WADLOvL2OGu8TnDUwEgeQqLL/KCjTE5A0sKXyk726HkvWixhahpwEjTVtEU+hKvMzv2KtLV6fNNTFa4ORZw4TJ6pAG4WaJhem5vCmvZfLh0aAXmGzC3UE2U6VsEuZv7w2k=
